
@{
    ViewBag.Title = "FailPay";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div>
    <div class="body">
        <div class="container bg-white">
            <div class="w-50 m-auto mt-3 p-5">
                <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
                <img class="img-order-success mt-5" src="~/assets/img/img-bank/error-icon.png" alt="">
                <h1 style=" color: red;" class="my-3 text-center">Thanh Toán Thất Bại</h1>
                <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
                <p style="font-size: 26px; text-align: center;">Rất tiếc, giao dịch của bạn không thành công. Vui lòng thử lại sau.</p>
                <a style="text-align: right; font-size: 20px; display: block; font-style: italic; text-decoration: none; " href="~/Home" class="main-btn-four">Quay lại</a>
            </div>
        </div>
    </div>
</div>

