<div class="footer">
    <div class="container-fluid">
        <div class="footer__head">
            <div class="row footer__head-control">
                <div class="col-lg-4 col-md-12 col-sm-12 p-2 footer__head-item">
                    <i class="fas fa-leaf"></i>
                    <span>Sản phẩm tươi sạch 99%</span>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-2 footer__head-item">
                    <i class="fas fa-gift"></i>
                    <span>Vận chuyển không tiếp xúc. Chúng tôi quan tâm đến sức khỏe của bạn!</span>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-2 footer__head-item">
                    <i class="fas fa-truck"></i>
                    <span>Miễn phí giao hàng</span>
                </div>
            </div>
        </div>
        <div class="footer__body">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 p-8 footer__body-left line_after">
                    <a href="" class="footer__body-logo">
                        <img src="~/assets/img/logo/logo.png"
                             alt="Logo" />
                    </a>
                    <div class="footer__body-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội. </span>
                    </div>
                    <div class="footer__body-time">
                        <span>
                            Thứ Hai - Thứ Sáu: 9:00-20:00 <br />
                            Thứ Bảy: 11:00 – 15:00
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-8 footer__body-center line_after">
                    <h5 class="m-lr-30">Need help</h5>
                    <div class="footer__phone-number m-lr-30">
                        <i class="fas fa-phone"></i>
                        <h4>
                            0335614234
                            <p>Thứ Hai - Thứ Sáu: 9:00-20:00</p>
                        </h4>

                    </div>
                    <div class="footer__email m-lr-30">
                        <i class="fas fa-envelope-square"></i>
                        <span>infor.sales.agrofood@gmail.com</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 p-8 ">
                    <div class="row footer__body-right">
                        <div class="col-lg-3 col-md-3 col-sm-6 ">
                            <h3>Categories</h3>
                            <ul class="footer__cate-list">
                                <li class="footer__cate-item">Danh mục sản phẩm</li>
                                <li class="footer__cate-item">Phiên chợ giảm giá</li>
                                <li class="footer__cate-item">Sản phẩm mới</li>

                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <h3>Account</h3>
                            <ul class="footer__cate-list">
                                <li class="footer__cate-item">Tài khoản của tôi</li>
                                <li class="footer__cate-item">Giỏ hàng</li>
                                <li class="footer__cate-item">Đơn mua</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <h3>Announce</h3>
                            <ul class="footer__cate-list">
                                <li class="footer__cate-item">Giảm giá</li>
                                <li class="footer__cate-item">Sản phẩm ưa chuộng</li>
                                <li class="footer__cate-item">Phiên chợ siêu giảm giá</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <h3>Tải ứng dụng</h3>
                            <div class="footer_link-download">
                                <div class="footer_link-download--qr">
                                    <a href="">
                                        <img src="~/assets/img/img-link-download/qr.png" alt="">
                                    </a>
                                </div>
                                <ul class="footer_link-download--app">
                                    <li class="footer_link-download--app-item">
                                        <a href="">
                                            <img src="~/assets/img/img-link-download/app-store.png" alt="">
                                        </a>
                                    </li>

                                    <li class="footer_link-download--app-item">
                                        <a href="">
                                            <img src="~/assets/img/img-link-download/artgallery.png" alt="">
                                        </a>
                                    </li>

                                    <li class="footer_link-download--app-item">
                                        <a href="">
                                            <img src="~/assets/img/img-link-download/gg.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__end">
            <span class="footer__end-content">© 2022 Argofood. Tất cả các quyền được bảo lưu.</span>

            <div class="footer__end-list">
                <span class="footer__end-content">
                    Quốc gia & Khu vực:
                </span>
                <ul class="footer__end-list-area">
                    <li>
                        <a href="" class="footer__end-item-area">Singapore</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Indonesia</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Đài Loan</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Thái Lan</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Malaysia</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Việt Nam</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Philippines</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Brazil</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">México</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Colombia</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Chile</a>
                    </li>

                    <li>
                        <a href="" class="footer__end-item-area">Poland</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="footer__last">
            <ul class="footer__last-top">
                <li class="footer__last-top-item">
                    <a href="">CHÍNH SÁCH BẢO MẬT</a>
                </li>

                <li class="footer__last-top-item">
                    <a href="">QUY CHẾ HOẠT ĐỘNG</a>
                </li>

                <li class="footer__last-top-item">
                    <a href="">CHÍNH SÁCH VẬN CHUYỂN</a>
                </li>

                <li class="footer__last-top-item">
                    <a href="">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
                </li>
            </ul>

            <ul class="footer__last-list-certificate">
                <li class="footer__last-list-certificate-item">
                    <a href="">
                        <img src="https://cdn.dangkywebsitevoibocongthuong.com/wp-content/uploads/2018/06/logo.png" alt="">
                    </a>
                </li>

                <li class="footer__last-list-certificate-item">
                    <a href="">
                        <img src="https://cdn.dangkywebsitevoibocongthuong.com/wp-content/uploads/2018/06/logo.png" alt="">
                    </a>
                </li>

                <li class="footer__last-list-certificate-item">
                    <a href="">
                        <img src="https://www.sapo.vn/Themes/Portal/Default/StylesV2/images/bct-hanggia.png" alt="">
                    </a>
                </li>
            </ul>

            <span class="footer__last-name-company">Công ty TNHH AGROFOOD</span>

            <p class="footer__last-desc">
                Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội.
                Tổng đài hỗ trợ: 0335614234 - Email: cskh@hotro.agrofood.vn
            </p>
            <p class="footer__last-desc">Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
            <p class="footer__last-desc">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            <p class="footer__last-desc">© 2015 - Bản quyền thuộc về Công ty TNHH Agrofood</p>


        </div>
    </div>
</div>
