<div class="header__action-tblet">
    <div class="header__phone">
        <i class="fas fa-phone"></i>
        <div class="header__phone-number">
            <h4>0335614234</h4>
            <p>Thứ Hai - Thứ Sáu: 9:00-20:00</p>
        </div>
    </div>
    <div class="header__social">
        <ul class="header__social-list">
            <li class="header__social-item">
                <a href="https://www.facebook.com/profile.php?id=61556689292198"> <i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="header__social-item">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
