
@{
    ViewBag.Title = "Về Chúng Tôi";
    Layout = "~/Views/Shared/LayoutNoProduct.cshtml";
    ViewBag.active = 2;
}

@section linkcss {


    <link href="~/assets/css/about.css" rel="stylesheet" />
}


@section Style {


    .main-about .box-content {
    margin-top:0px !important;
    padding-top: 90px !important;
    }



    .main-about .header-about {
    background-image: url(/assets/img/banner/bg-about_1.png) !important;
    }

    .main-about .header-about,
    .justify-content-center,
    .box-content,
    .main-about .box-content .content {
    background-color:#fff}

    .main-about .header-about .about-banner p {
    font-size: 2rem;
    }

    .main-about .content-left-right .right-content .title h5 span {
    background-color: #96ae00;
    }

    .main-about .content-left-right .right-content .title p {
    font-size: 2rem !important;
    }

    .main-about .content-left-right .right-content ul li span {
    font-size: 1.8rem !important;
    }

    .main-about .content-left-right .right-content ul li i {
    color: #96ae00;
    }

    .main-about .box-content .content .item strong {
    font-size: 1.8rem !important;
    }

    .main-about .box-content .content .item p {
    font-size: 1.6rem !important;
    }

    .title-head p {
    color: #96ae00;
    font-size: 1.8rem;

    }

    .list-box .item p {
    font-size: 1.6rem}

}


@section NoContainer {
    <main>
        <div class="main-about">
            <div class="header-about">
                <div class="about-banner">
                    <h6>ABOUT FOR AGROFOOD</h6>
                    <h2>"Tươi ngon, bổ dưỡng, giá cả hợp lý"</h2>
                    <p>
                        Trang web cung cấp thực phẩm trái cây, rau củ của chúng tôi được thành lập với mục tiêu mang đến cho khách hàng những sản phẩm tươi ngon, an toàn, chất lượng cao. Chúng tôi cam kết cung cấp các sản phẩm từ các nguồn uy tín, đảm bảo an toàn vệ sinh thực phẩm.
                    </p>
                </div>
            </div>
            <div class="content-left-right d-flex justify-content-center">
                <div class="image">
                    <img src="~/assets/img/banner/img_7.png" alt="" />
                    <img src="~/assets/img/icon/leaf-2.png" alt="" />
                    <img src="~/assets/img/icon/media-effect-right.png" alt="" />
                </div>
                <div class="right-content">
                    <div class="title">
                        <h5><span>ABOUT US</span> CHÀO MỨNG ĐẾN VỚI AGROFOOD</h5>
                        <h3>
                            Giới Thiệu <br />
                            Về Sự Phát Triển Của Agrofood
                        </h3>
                        <p>
                            Agrofood là doanh nghiệp chuyên cung cấp các sản phẩm trái cây, rau củ quả sạch, tươi ngon, an toàn cho sức khỏe. Chúng tôi được thành lập vào năm 2023 với mục tiêu mang đến cho khách hàng những sản phẩm chất lượng cao, đáp ứng nhu cầu của mọi gia đình.
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa-solid fa-circle-check"></i><span>Chúng tôi luôn lắng nghe và điều chỉnh hiểu khách hàng.</span></li>
                        <li><i class="fa-solid fa-circle-check"></i><span>Lấy khách hàng làm trung tâm.</span></li>
                        <li><i class="fa-solid fa-circle-check"></i><span>Chúng tôi luôn nỗ lực mang đến cho khách hàng những trải nghiệm tốt nhất.</span></li>
                    </ul>
                </div>
            </div>
            <div class="box-content">
                <div class="content">
                    <div class="item">
                        <div class="item-center">
                            <div class="icon">
                                <img src="~/assets/img/icon/icon_1_.png" alt="" />
                            </div>
                        </div>
                        <strong>Chất lượng cao</strong>
                        <p>
                            Chúng tôi luôn nỗ lực mang đến cho khách hàng những sản phẩm chất lượng cao, đáp ứng nhu cầu của mọi khách hàng.
                        </p>
                    </div>
                    <div class="item-arrow">
                        <img src="~/assets/img/icon/dotted-arrow.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="item-center">
                            <div class="icon">
                                <img src="~/assets/img/icon/icon_2_.png" alt="" />
                            </div>
                        </div>
                        <strong>Tươi ngon</strong>
                        <p>
                            Chúng tôi luôn nỗ lực mang đến cho khách hàng những sản phẩm tươi ngon, được thu thập đúng thời điểm.
                        </p>
                    </div>
                    <div class="item-arrow">
                        <img src="~/assets/img/icon/dotted-arrow-2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="item-center">
                            <div class="icon">
                                <img src="~/assets/img/icon/icon.png" alt="" />
                            </div>
                        </div>
                        <strong>Sạch</strong>
                        <p>
                            Chúng tôi cam kết cung cấp các sản phẩm sạch, được trồng trọt, thu hoạch, bảo quản theo quy trình quản lý chất lượng, đảm bảo an toàn vệ sinh thực phẩm.
                        </p>
                    </div>
                </div>
            </div>
            <div class="group-our">
                <div class="container">
                    <div class="title-head">
                        <p>~ Tại Sao Hãy Chọn Agrofood ~</p>
                        <h5>Những Điều Tuyệt Vời Của Chúng Tôi</h5>
                        <p class="text-content">"Tươi ngon, bổ dưỡng, giá cả hợp lý"</p>
                    </div>
                    <div class="list-box">
                        <div class="item">
                            <div class="image">
                                <img src="~/assets/img/cate/our-work_1_.png" alt="" />
                            </div>
                            <div class="text">
                                <h6>Chúng Tôi Là Ai</h6>
                                <p>
                                    Agrofood là một doanh nghiệp đam mê với sứ mệnh cung cấp những sản phẩm nông sản và thực phẩm chất lượng cao cho cộng đồng.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="~/assets/img/cate/our-work_2_.png" alt="" />
                            </div>
                            <div class="text">
                                <h6>Sản Phẩm Của Chúng Tôi</h6>
                                <p>
                                    Chúng tôi cung cấp một loạt các sản phẩm nông sản và thực phẩm đa dạng, từ rau củ, quả đến các sản phẩm chế biến sẵn.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="~/assets/img/cate/our-work_3_.png" alt="" />
                            </div>
                            <div class="text">
                                <h6>Cách Chúng Tôi Làm Việc</h6>
                                <p>
                                    Chúng tôi không chỉ cung cấp thực phẩm, mà còn mang đến trải nghiệm mua sắm toàn diện, nơi khách hàng có thể tin tưởng và tận hưởng những sản phẩm tốt nhất cho bữa ăn gia đình họ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>



}

@section AnotherBox {
    <div style="height:80px;background-color:#ffff;"></div>

}
