
@{
    ViewBag.Title = "RankUser";
    Layout = "~/Views/Shared/LayoutNoProduct.cshtml";
}

@section Style {
    .content {
    width: 100%;
    padding-top:149px;
    background-color: #f5f5f5;
    }

    .listselected-day {
    padding-bottom: 18px;
    }

    .user-input {
    transform:translateY(-5px);
    }

}


<div class="container">
    <div class="infor__user">

        <img src="~/assets/img/test/rankuser.png" />
    </div>
</div>

