
@{
    ViewBag.Title = "WalletUser";
    Layout = "~/Views/Shared/LayoutNoProduct.cshtml";
}

<div class="container">
    <div class="infor__user">

        <img src="~/assets/img/test/wallet.png" />
    </div>
</div>

